<!DOCTYPE html>
<html lang="es">

<body>
<div class="contenido">
<div class="caja">
    <h1>Pizzeria de confianza</h1>


    <p>
    <subtitle>
        La mejor pizza artesanal de la ciudad es tu mejor decisión.
    </subtitle>
    </p>

    <div class="carousel">
  <button class="prev" onclick="moveSlide(-1)">❮</button>

  <div class="slides">
    <img src="/images/1.png" class="slide active">
    <img src="/images/2.png" class="slide">
    <img src="/images/3.png" class="slide">
  </div>

  <button class="next" onclick="moveSlide(1)">❯</button>
</div>

    <button>Pide ahora ;)</button>

    <p>
    <subtitle>
        Nuestros sabores:
    </subtitle>
    </p>

    <h1>
    Nuestras Productos
</h1>


{{#each categorias}}

<h2 class="categoria-titulo">

    {{nombre_categoria}}

</h2>

<div class="contenedor-productos">

    {{#each ../productos}}

        {{#if (eq id_categoria ../id_categoria)}}

        <div class="producto-card">

            <img src="{{imagen}}" alt="producto">

            <h2>
                {{nombre_producto}}
            </h2>

            <p>
                {{descripcion}}
            </p>

            <h3>
                ${{precio}}
            </h3>

        </div>

        {{/if}}

    {{/each}}

</div>

{{/each}}


</div>
    </div>
</body>
</html>